{
  "info": {
    "title": "Gitee Open API",
    "version": "5.4.92"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "host": "gitee.com",
  "basePath": "/api",
  "schemes": [
    "https",
    "http"
  ],
  "tags": [
    {
      "name": "Checks",
      "description": "Operations about Checks"
    },
    {
      "name": "Repositories",
      "description": "Operations about Repositories"
    },
    {
      "name": "Issues",
      "description": "Operations about Issues"
    },
    {
      "name": "Git Data",
      "description": "Operations about Git Data"
    },
    {
      "name": "Labels",
      "description": "Operations about Labels"
    },
    {
      "name": "Milestones",
      "description": "Operations about Milestones"
    },
    {
      "name": "Miscellaneous",
      "description": "Operations about Miscellaneous"
    },
    {
      "name": "Pull Requests",
      "description": "Operations about Pull Requests"
    },
    {
      "name": "Webhooks",
      "description": "Operations about Webhooks"
    },
    {
      "name": "Activity",
      "description": "Operations about Activities"
    },
    {
      "name": "Users",
      "description": "Operations about Users"
    },
    {
      "name": "Organizations",
      "description": "Operations about Organizations"
    },
    {
      "name": "Enterprises",
      "description": "Operations about Enterprises"
    },
    {
      "name": "Gists",
      "description": "Operations about Gists"
    },
    {
      "name": "Search",
      "description": "Operations about Searches"
    },
    {
      "name": "Emails",
      "description": "Operations about Emails"
    }
  ],
  "paths": {
    "/v5/repos/{owner}/{repo}/check-runs": {
      "post": {
        "summary": "创建检查项",
        "description": "创建检查项",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "pull_request_id",
            "description": "PullRequest ID",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "details_url",
            "description": "详情链接",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "status",
            "description": "状态",
            "type": "string",
            "default": "queued",
            "enum": [
              "queued",
              "in_progress",
              "completed"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "started_at",
            "description": "开始时间",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "formData",
            "name": "conclusion",
            "description": "结论",
            "type": "string",
            "enum": [
              "neutral",
              "success",
              "failure",
              "cancelled",
              "action_required",
              "timed_out",
              "skipped"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "completed_at",
            "description": "完成时间",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "formData",
            "name": "output[title]",
            "description": "标题",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "output[summary]",
            "description": "概论",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "output[text]",
            "description": "详细信息",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "output[annotations][path]",
            "description": "路径",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][start_line]",
            "description": "开始行",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][end_line]",
            "description": "结束行",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][start_column]",
            "description": "开始列",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "output[annotations][end_column]",
            "description": "结束列",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "output[annotations][annotation_level]",
            "description": "注释级别",
            "type": "array",
            "items": {
              "type": "string"
            },
            "enum": [
              "notice",
              "warning",
              "failure"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][message]",
            "description": "注释信息",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][title]",
            "description": "标题",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "output[annotations][raw_details]",
            "description": "详情内容",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "output[images][alt]",
            "description": "注释",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[images][image_url]",
            "description": "URL",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[images][caption]",
            "description": "描述",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "actions[label]",
            "description": "文本",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "actions[description]",
            "description": "描述",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "actions[identifier]",
            "description": "标识",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "name",
            "description": "名字",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "head_sha",
            "description": "提交的 sha 值（必须是完整的）",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CheckRun"
            }
          }
        },
        "tags": [
          "Checks"
        ],
        "operationId": "postV5ReposOwnerRepoCheckRuns"
      }
    },
    "/v5/repos/{owner}/{repo}/check-runs/{check_run_id}": {
      "get": {
        "summary": "获取检查项详情",
        "description": "获取检查项详情",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "check_run_id",
            "description": "检查项 ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CheckRun"
            }
          }
        },
        "tags": [
          "Checks"
        ],
        "operationId": "getV5ReposOwnerRepoCheckRunsCheckRunId"
      },
      "patch": {
        "summary": "更新检查项",
        "description": "更新检查项",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "pull_request_id",
            "description": "关联 pull_request 的 ID",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "details_url",
            "description": "详情链接",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "status",
            "description": "状态",
            "type": "string",
            "default": "queued",
            "enum": [
              "queued",
              "in_progress",
              "completed"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "started_at",
            "description": "开始时间",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "formData",
            "name": "conclusion",
            "description": "结论",
            "type": "string",
            "enum": [
              "neutral",
              "success",
              "failure",
              "cancelled",
              "action_required",
              "timed_out",
              "skipped"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "completed_at",
            "description": "完成时间",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "formData",
            "name": "output[title]",
            "description": "标题",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "output[summary]",
            "description": "概论",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "output[text]",
            "description": "详细信息",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "output[annotations][path]",
            "description": "路径",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][start_line]",
            "description": "开始行",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][end_line]",
            "description": "结束行",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][start_column]",
            "description": "开始列",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "output[annotations][end_column]",
            "description": "结束列",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "output[annotations][annotation_level]",
            "description": "注释级别",
            "type": "array",
            "items": {
              "type": "string"
            },
            "enum": [
              "notice",
              "warning",
              "failure"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][message]",
            "description": "注释信息",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[annotations][title]",
            "description": "标题",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "output[annotations][raw_details]",
            "description": "详情内容",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "output[images][alt]",
            "description": "注释",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[images][image_url]",
            "description": "URL",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "output[images][caption]",
            "description": "描述",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "actions[label]",
            "description": "文本",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "actions[description]",
            "description": "描述",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "actions[identifier]",
            "description": "标识",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "check_run_id",
            "description": "检查项 ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "name",
            "description": "名字",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CheckRun"
            }
          }
        },
        "tags": [
          "Checks"
        ],
        "operationId": "patchV5ReposOwnerRepoCheckRunsCheckRunId"
      }
    },
    "/v5/repos/{owner}/{repo}/check-runs/{check_run_id}/annotations": {
      "get": {
        "summary": "获取检查项代码注释",
        "description": "获取检查项代码注释",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "check_run_id",
            "description": "检查项 ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 100,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CheckAnnotation"
            }
          }
        },
        "tags": [
          "Checks"
        ],
        "operationId": "getV5ReposOwnerRepoCheckRunsCheckRunIdAnnotations"
      }
    },
    "/v5/repos/{owner}/{repo}/commits/{ref}/check-runs": {
      "get": {
        "summary": "获取某个提交的检查项",
        "description": "获取某个提交的检查项",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 100,
            "required": false
          },
          {
            "in": "path",
            "name": "ref",
            "description": "分支名\\标签名\\sha 值",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "pull_request_id",
            "description": "关联 pull request 的 ID",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "check_name",
            "description": "检查项名称",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status",
            "description": "检查项状态",
            "type": "string",
            "enum": [
              "expected",
              "queued",
              "in_progress",
              "completed"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "filter",
            "description": "最新的\\全部",
            "type": "string",
            "default": "latest",
            "enum": [
              "all",
              "latest"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CheckRun"
            }
          }
        },
        "tags": [
          "Checks"
        ],
        "operationId": "getV5ReposOwnerRepoCommitsRefCheckRuns"
      }
    },
    "/v5/repos/{owner}/{repo}/branches": {
      "get": {
        "summary": "获取所有分支",
        "description": "获取所有分支",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "sort",
            "description": "排序字段",
            "type": "string",
            "default": "name",
            "enum": [
              "name",
              "updated"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "direction",
            "description": "排序方向",
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Branch"
              }
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoBranches"
      },
      "post": {
        "summary": "创建分支",
        "description": "创建分支",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "refs",
            "description": "起点名称, 默认：master",
            "type": "string",
            "default": "master",
            "required": true
          },
          {
            "in": "formData",
            "name": "branch_name",
            "description": "新创建的分支名称",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CompleteBranch"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "postV5ReposOwnerRepoBranches"
      }
    },
    "/v5/repos/{owner}/{repo}/branches/{branch}": {
      "get": {
        "summary": "获取单个分支",
        "description": "获取单个分支",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "branch",
            "description": "分支名称",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CompleteBranch"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoBranchesBranch"
      }
    },
    "/v5/repos/{owner}/{repo}/branches/{branch}/protection": {
      "put": {
        "summary": "设置分支保护",
        "description": "设置分支保护",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "branch",
            "description": "分支名称",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CompleteBranch"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "putV5ReposOwnerRepoBranchesBranchProtection"
      },
      "delete": {
        "summary": "取消保护分支的设置",
        "description": "取消保护分支的设置",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "branch",
            "description": "分支名称",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "取消保护分支的设置"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "deleteV5ReposOwnerRepoBranchesBranchProtection"
      }
    },
    "/v5/repos/{owner}/{repo}/branches/{wildcard}/setting": {
      "put": {
        "summary": "更新保护分支规则",
        "description": "更新保护分支规则",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "new_wildcard",
            "description": "新分支/通配符(为空不修改)",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "wildcard",
            "description": "分支/通配符",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "pusher",
            "description": "可推送代码成员。developer：仓库管理员和开发者；admin：仓库管理员；none：禁止任何人合并; 用户：个人的地址 path（多个用户用 ';' 隔开）",
            "type": "string",
            "default": "admin",
            "required": true
          },
          {
            "in": "formData",
            "name": "merger",
            "description": "可合并 Pull Request 成员。developer：仓库管理员和开发者；admin：仓库管理员；none：禁止任何人合并; 用户：个人的地址 path（多个用户用 ';' 隔开）",
            "type": "string",
            "default": "admin",
            "required": true
          },
          {
            "in": "formData",
            "name": "mode",
            "description": "模式。standard: 标准模式, review: 评审模式",
            "type": "string",
            "default": "standard",
            "enum": [
              "standard",
              "review"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "escapse_protect_branch_list",
            "description": "不受规则影响的分支列表，以英文逗号分隔，形如：['a', 'b']",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/ProtectionRule"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "putV5ReposOwnerRepoBranchesWildcardSetting"
      },
      "delete": {
        "summary": "删除保护分支规则",
        "description": "删除保护分支规则",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "wildcard",
            "description": "分支/通配符",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/ProtectionRule"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "deleteV5ReposOwnerRepoBranchesWildcardSetting"
      }
    },
    "/v5/repos/{owner}/{repo}/branches/setting/new": {
      "put": {
        "summary": "新建保护分支规则",
        "description": "新建保护分支规则",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "wildcard",
            "description": "分支/通配符",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "pusher",
            "description": "可推送代码成员。developer：仓库管理员和开发者；admin：仓库管理员；none：禁止任何人合并; 用户：个人的地址 path（多个用户用 ';' 隔开）",
            "type": "string",
            "default": "admin",
            "required": true
          },
          {
            "in": "formData",
            "name": "merger",
            "description": "可合并 Pull Request 成员。developer：仓库管理员和开发者；admin：仓库管理员；none：禁止任何人合并; 用户：个人的地址 path（多个用户用 ';' 隔开）",
            "type": "string",
            "default": "admin",
            "required": true
          },
          {
            "in": "formData",
            "name": "mode",
            "description": "模式。standard: 标准模式, review: 评审模式",
            "type": "string",
            "default": "standard",
            "enum": [
              "standard",
              "review"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "escapse_protect_branch_list",
            "description": "不受规则影响的分支列表，以英文逗号分隔，形如：['a', 'b']",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/ProtectionRule"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "putV5ReposOwnerRepoBranchesSettingNew"
      }
    },
    "/v5/repos/{owner}/{repo}/tags": {
      "get": {
        "summary": "列出仓库所有的 tags",
        "description": "列出仓库所有的 tags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "sort",
            "description": "排序字段",
            "type": "string",
            "default": "name",
            "enum": [
              "name",
              "updated"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "direction",
            "description": "排序方向",
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Tag"
              }
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoTags"
      },
      "post": {
        "summary": "创建一个仓库的 Tag",
        "description": "创建一个仓库的 Tag",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "refs",
            "description": "起点名称, 默认：master",
            "type": "string",
            "default": "master",
            "required": true
          },
          {
            "in": "formData",
            "name": "tag_name",
            "description": "新创建的标签名称",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "tag_message",
            "description": "Tag 描述, 默认为空",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "postV5ReposOwnerRepoTags"
      }
    },
    "/v5/repos/{owner}/{repo}/comments": {
      "get": {
        "summary": "获取仓库的 Commit 评论",
        "description": "获取仓库的 Commit 评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 100,
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "description": "排序顺序: asc(default),desc",
            "type": "string",
            "default": "asc",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Note"
              }
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoComments"
      }
    },
    "/v5/repos/{owner}/{repo}/commits/{ref}/comments": {
      "get": {
        "summary": "获取单个Commit的评论",
        "description": "获取单个Commit的评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "ref",
            "description": "Commit的Reference",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 100,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Note"
              }
            }
          },
          "404": {
            "description": "没有相关数据"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoCommitsRefComments"
      }
    },
    "/v5/repos/{owner}/{repo}/comments/{id}": {
      "get": {
        "summary": "获取仓库的某条Commit评论",
        "description": "获取仓库的某条Commit评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "评论的ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Note"
            }
          },
          "404": {
            "description": "没有相关数据"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoCommentsId"
      },
      "patch": {
        "summary": "更新Commit评论",
        "description": "更新Commit评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "评论的ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "body",
            "description": "评论的内容",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Note"
            }
          },
          "404": {
            "description": "没有相关数据"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "patchV5ReposOwnerRepoCommentsId"
      },
      "delete": {
        "summary": "删除Commit评论",
        "description": "删除Commit评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "评论的ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "删除Commit评论"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "deleteV5ReposOwnerRepoCommentsId"
      }
    },
    "/v5/repos/{owner}/{repo}/commits/{sha}/comments": {
      "post": {
        "summary": "创建Commit评论",
        "description": "创建Commit评论",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "sha",
            "description": "评论的sha值",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "body",
            "description": "评论的内容",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "path",
            "description": "文件的相对路径",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "position",
            "description": "Diff的相对行数",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Note"
            }
          },
          "404": {
            "description": "没有相关数据"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "postV5ReposOwnerRepoCommitsShaComments"
      }
    },
    "/v5/repos/{owner}/{repo}/issues/comments": {
      "get": {
        "summary": "获取仓库所有Issue的评论",
        "description": "获取仓库所有Issue的评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Either created or updated. Default: created",
            "type": "string",
            "default": "created",
            "enum": [
              "created",
              "updated"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "direction",
            "description": "Either asc or desc. Ignored without the sort parameter.",
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "since",
            "description": "Only comments updated at or after this time are returned.\n                                              This is a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 100,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Note"
              }
            }
          }
        },
        "tags": [
          "Issues"
        ],
        "operationId": "getV5ReposOwnerRepoIssuesComments"
      }
    },
    "/v5/repos/{owner}/{repo}/issues/{number}/comments": {
      "get": {
        "summary": "获取仓库某个Issue所有的评论",
        "description": "获取仓库某个Issue所有的评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "description": "Issue 编号(区分大小写，无需添加 # 号)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "since",
            "description": "Only comments updated at or after this time are returned.\n                                              This is a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 100,
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "description": "排序顺序: asc(default),desc",
            "type": "string",
            "default": "asc",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Note"
              }
            }
          },
          "404": {
            "description": "没有相关数据"
          }
        },
        "tags": [
          "Issues"
        ],
        "operationId": "getV5ReposOwnerRepoIssuesNumberComments"
      },
      "post": {
        "summary": "创建某个Issue评论",
        "description": "创建某个Issue评论",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "description": "Issue 编号(区分大小写，无需添加 # 号)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "body",
            "description": "The contents of the comment.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Note"
            }
          }
        },
        "tags": [
          "Issues"
        ],
        "operationId": "postV5ReposOwnerRepoIssuesNumberComments"
      }
    },
    "/v5/repos/{owner}/{repo}/issues/comments/{id}": {
      "get": {
        "summary": "获取仓库Issue某条评论",
        "description": "获取仓库Issue某条评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "评论的ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Note"
            }
          },
          "404": {
            "description": "没有相关数据"
          }
        },
        "tags": [
          "Issues"
        ],
        "operationId": "getV5ReposOwnerRepoIssuesCommentsId"
      },
      "patch": {
        "summary": "更新Issue某条评论",
        "description": "更新Issue某条评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "评论的ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "body",
            "description": "The contents of the comment.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Note"
            }
          }
        },
        "tags": [
          "Issues"
        ],
        "operationId": "patchV5ReposOwnerRepoIssuesCommentsId"
      },
      "delete": {
        "summary": "删除Issue某条评论",
        "description": "删除Issue某条评论",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "评论的ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "删除Issue某条评论"
          }
        },
        "tags": [
          "Issues"
        ],
        "operationId": "deleteV5ReposOwnerRepoIssuesCommentsId"
      }
    },
    "/v5/repos/{owner}/{repo}/commits": {
      "get": {
        "summary": "仓库的所有提交",
        "description": "仓库的所有提交",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "sha",
            "description": "提交起始的SHA值或者分支名. 默认: 仓库的默认分支",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "path",
            "description": "包含该文件的提交",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "author",
            "description": "提交作者的邮箱或个人空间地址(username/login)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "since",
            "description": "提交的起始时间，时间格式为 ISO 8601",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "until",
            "description": "提交的最后时间，时间格式为 ISO 8601",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 100,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RepoCommit"
              }
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoCommits"
      },
      "post": {
        "summary": "提交多个文件变更",
        "description": "提交多个文件变更",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "name": "V5ReposOwnerRepoCommits",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postV5ReposOwnerRepoCommits"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/RepoCommitWithFiles"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "postV5ReposOwnerRepoCommits"
      }
    },
    "/v5/repos/{owner}/{repo}/commits/{sha}": {
      "get": {
        "summary": "仓库的某个提交",
        "description": "仓库的某个提交",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "sha",
            "description": "提交的SHA值或者分支名",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/RepoCommitWithFiles"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoCommitsSha"
      }
    },
    "/v5/repos/{owner}/{repo}/compare/{base}...{head}": {
      "get": {
        "summary": "Commits 对比",
        "description": "Commits 对比\n 返回的 commits 数量限制在 100 以内",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "base",
            "description": "对比的起点。Commit SHA、分支名或标签名",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "head",
            "description": "对比的终点。Commit SHA、分支名或标签名",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "straight",
            "description": "是否直对比。默认 false",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "suffix",
            "description": "按照文件后缀过滤文件，如 `.txt`。只影响 `files`",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Compare"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoCompareBase...Head"
      }
    },
    "/v5/repos/{owner}/{repo}/keys": {
      "get": {
        "summary": "获取仓库已部署的公钥",
        "description": "获取仓库已部署的公钥",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 100,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SSHKey"
              }
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoKeys"
      },
      "post": {
        "summary": "为仓库添加公钥",
        "description": "为仓库添加公钥",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "key",
            "description": "公钥内容",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "title",
            "description": "公钥名称",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/SSHKey"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "postV5ReposOwnerRepoKeys"
      }
    },
    "/v5/repos/{owner}/{repo}/keys/available": {
      "get": {
        "summary": "获取仓库可部署的公钥",
        "description": "获取仓库可部署的公钥",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "description": "当前的页码",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "每页的数量，最大为 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 1,
            "maximum": 100,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SSHKeyBasic"
              }
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoKeysAvailable"
      }
    },
    "/v5/repos/{owner}/{repo}/keys/enable/{id}": {
      "put": {
        "summary": "启用仓库公钥",
        "description": "启用仓库公钥",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "公钥 ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "已启用"
          },
          "403": {
            "description": "没有启用权限"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "putV5ReposOwnerRepoKeysEnableId"
      },
      "delete": {
        "summary": "停用仓库公钥",
        "description": "停用仓库公钥",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "公钥 ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "已停用"
          },
          "404": {
            "description": "没有相关公钥"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "deleteV5ReposOwnerRepoKeysEnableId"
      }
    },
    "/v5/repos/{owner}/{repo}/keys/{id}": {
      "get": {
        "summary": "获取仓库的单个公钥",
        "description": "获取仓库的单个公钥",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "公钥 ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/SSHKey"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoKeysId"
      },
      "delete": {
        "summary": "删除一个仓库公钥",
        "description": "删除一个仓库公钥",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "description": "公钥 ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "删除一个仓库公钥"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "deleteV5ReposOwnerRepoKeysId"
      }
    },
    "/v5/repos/{owner}/{repo}/readme": {
      "get": {
        "summary": "获取仓库README",
        "description": "获取仓库README",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "ref",
            "description": "分支、tag或commit。默认: 仓库的默认分支(通常是master)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Content"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoReadme"
      }
    },
    "/v5/repos/{owner}/{repo}/contents(/{path})": {
      "get": {
        "summary": "获取仓库具体路径下的内容",
        "description": "获取仓库具体路径下的内容",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "path",
            "description": "文件的路径",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "ref",
            "description": "分支、tag或commit。默认: 仓库的默认分支(通常是master)",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Content"
              }
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoContents(Path)"
      }
    },
    "/v5/repos/{owner}/{repo}/contents/{path}": {
      "post": {
        "summary": "新建文件",
        "description": "新建文件",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "path",
            "description": "文件的路径",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "content",
            "description": "文件内容, 要用 base64 编码",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "message",
            "description": "提交信息",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "branch",
            "description": "分支名称。默认为仓库对默认分支",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "committer[name]",
            "description": "Committer的名字，默认为当前用户的名字",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "committer[email]",
            "description": "Committer的邮箱，默认为当前用户的邮箱",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "author[name]",
            "description": "Author的名字，默认为当前用户的名字",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "author[email]",
            "description": "Author的邮箱，默认为当前用户的邮箱",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CommitContent"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "postV5ReposOwnerRepoContentsPath"
      },
      "put": {
        "summary": "更新文件",
        "description": "更新文件",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "path",
            "description": "文件的路径",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "content",
            "description": "文件内容, 要用 base64 编码",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "sha",
            "description": "文件的 Blob SHA，可通过 [获取仓库具体路径下的内容] API 获取",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "message",
            "description": "提交信息",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "branch",
            "description": "分支名称。默认为仓库对默认分支",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "committer[name]",
            "description": "Committer的名字，默认为当前用户的名字",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "committer[email]",
            "description": "Committer的邮箱，默认为当前用户的邮箱",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "author[name]",
            "description": "Author的名字，默认为当前用户的名字",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "author[email]",
            "description": "Author的邮箱，默认为当前用户的邮箱",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CommitContent"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "putV5ReposOwnerRepoContentsPath"
      },
      "delete": {
        "summary": "删除文件",
        "description": "删除文件",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "path",
            "description": "文件的路径",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "sha",
            "description": "文件的 Blob SHA，可通过 [获取仓库具体路径下的内容] API 获取",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "message",
            "description": "提交信息",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "branch",
            "description": "分支名称。默认为仓库对默认分支",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "committer[name]",
            "description": "Committer的名字，默认为当前用户的名字",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "committer[email]",
            "description": "Committer的邮箱，默认为当前用户的邮箱",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "author[name]",
            "description": "Author的名字，默认为当前用户的名字",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "author[email]",
            "description": "Author的邮箱，默认为当前用户的邮箱",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/CommitContent"
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "deleteV5ReposOwnerRepoContentsPath"
      }
    },
    "/v5/repos/{owner}/{repo}/blame/{path}": {
      "get": {
        "summary": "Blame",
        "description": "Blame",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "path",
            "description": "文件的路径（1 MB 以内的文件文件）",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "ref",
            "description": "分支、tag 或 commit。默认: 仓库的默认分支（通常是 master）",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Blame"
              }
            }
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoBlamePath"
      }
    },
    "/v5/repos/{owner}/{repo}/raw/{path}": {
      "get": {
        "summary": "获取 raw 文件（100MB 以内）",
        "description": "获取 raw 文件（100MB 以内）",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "path",
            "description": "文件的路径",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "ref",
            "description": "分支、tag 或 commit。默认: 仓库的默认分支（通常是 master）",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "获取 raw 文件（100MB 以内）"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoRawPath"
      }
    },
    "/v5/repos/{owner}/{repo}/zipball": {
      "get": {
        "summary": "下载仓库 zip",
        "description": "下载仓库 zip",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "ref",
            "description": "分支、tag或commit。默认: 仓库的默认分支(通常是master)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "expected_path",
            "description": "指定的目录或文件",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "下载仓库 zip"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoZipball"
      }
    },
    "/v5/repos/{owner}/{repo}/tarball": {
      "get": {
        "summary": "下载仓库 tar.gz",
        "description": "下载仓库 tar.gz",
        "produces": [
          "application/gzip"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "ref",
            "description": "分支、tag或commit。默认: 仓库的默认分支(通常是master)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "expected_path",
            "description": "指定的目录或文件",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "下载仓库 tar.gz"
          }
        },
        "tags": [
          "Repositories"
        ],
        "operationId": "getV5ReposOwnerRepoTarball"
      }
    },
    "/v5/repos/{owner}/{repo}/git/blobs/{sha}": {
      "get": {
        "summary": "获取文件Blob",
        "description": "获取文件Blob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "sha",
            "description": "文件的 Blob SHA，可通过 [获取仓库具体路径下的内容] API 获取",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Blob"
            }
          },
          "404": {
            "description": "没有相关数据"
          }
        },
        "tags": [
          "Git Data"
        ],
        "operationId": "getV5ReposOwnerRepoGitBlobsSha"
      }
    },
    "/v5/repos/{owner}/{repo}/git/trees/{sha}": {
      "get": {
        "summary": "获取目录Tree",
        "description": "获取目录Tree",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "sha",
            "description": "可以是分支名(如master)、Commit或者目录Tree的SHA值",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "赋值为1递归获取目录",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/Tree"
            }
          },
          "404": {
            "description": "没有相关数据"
          },
          "422": {
            "description": "SHA值必须为Commit或Tree的"
          }
        },
        "tags": [
          "Git Data"
        ],
        "operationId": "getV5ReposOwnerRepoGitTreesSha"
      }
    },
    "/v5/repos/{owner}/{repo}/git/gitee_metrics": {
      "get": {
        "summary": "获取 Gitee 指数",
        "description": "获取 Gitee 指数",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "用户授权码",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "owner",
            "description": "仓库所属空间地址(企业、组织或个人的地址path)",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "repo",
            "description": "仓库路径(path)",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "返回格式",
            "schema": {
              "$ref": "#/definitions/GiteeMetrics"
            }
          },
[...]
